* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Montserrat', sans-serif;  height: 100vh;
  font-size: 12px;
}


header {
  height: 100vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  background-color: green;
  font-size: 20px;
  position: fixed;
  width: 100vw;
  height: 15vh auto;
  top: 0;
  z-index: 1;
}

.menu h1{
  margin-top: 16px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  
  display: block;
  padding: 10px 20px;
  transition: 1s transform;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

.site-subtitle, 
.site-title {
  color: black;
  text-align: center;
  margin-top: 100px;
}

.site-title {
  font-size: 4em;
}

header img{
  width: 200px;
  height: 200px;
}

header div{
  padding: 2em;
  height: 100vh;
}

.situacao {
  padding: 2em;
  height: 100vh;
}

.card-group{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 80px ;
  width: 230px auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 15px auto;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contaminados{
  background-color: rgb(189,55,55);
  
}

.mortos{
  background-color:  black;
}

.percentual {
  background-color:  gray;
}

.att {
  background-color:  rgb(255,138,0);
}

.contaminados h1, .mortos h1, .percentual h1, .att h1{
  margin-top: 20px;
}



.card:hover{
  opacity: 0.9;
  cursor: pointer;
}

.graficos{
  padding: 2em;
  height: 100vh;
}



.chart-container {
  position: relative;
  margin-top: 55px;
  height: 60vh;
  width: 40vw;
}


.relatorio {
  width: 300px;
  height: 300px;
  overflow: auto;
  margin-top: 60px;
  margin-left: 250px;

}

.relatorio th, .relatorio td{
  border: 1px solid #ddd;
  padding: 8px;}

.relatorio tr:nth-child(even){background-color: #f2f2f2;}

.relatorio tr:hover {background-color: #ddd;}
.group{
  display: flex;
  flex-direction: row;
}

.relatorio th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #4CAF50; 
}


#fonte{
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.fonte{
  align-self: center;
   height: 300px;  
   width: 500px;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.fonte h1{
  margin-top: 10px;
  font-size: 25px;
}

.fonte p{
 
  margin-top: 45px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.creators{
  margin-top: 10px;
  text-align: center;
  height: 110px;
}

.creators p{
margin-top: 5px;
font-size: 18px;
} 

i{
  margin-left: 10px;
}

.creators a{
  color: black;
}

.creators a:hover{
  color: #4CAF50;
}