* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  
  font-family: 'Montserrat', sans-serif;  height: 100vh;
  font-size: 12px;
}


header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  background-color: green;
  font-size: 20px;
  position: fixed;
  width: 100vw;
  height: 15vh;
  top: 0;
  z-index: 1;
}

.menu h1{
  margin-top: 16px;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  
  display: block;
  padding: 10px 20px;
  transition: 1s transform;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

.site-subtitle, 
.site-title {
  color: black;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

header img{
  width: 200px;
  height: 200px;
}

.situacao {
  padding: 2em;
  height: 100vh;
}

.card-group{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 150px;
}

.card{
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
  width: 230px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contaminados{
  background-color: rgb(189,55,55);
  
}

.mortos{
  background-color:  black;
}

.percentual {
  background-color:  gray;
}

.att {
  background-color:  rgb(255,138,0);
}

.contaminados h1, .mortos h1, .percentual h1, .att h1{
  margin-top: 25px;
}



.card:hover{
  opacity: 0.9;
  cursor: pointer;
}

.graficos{
  padding: 2em;
  height: 100vh;
  background-color: black;
}